cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
mock==2.0.0
numpy==1.11.2
pbr==1.10.0
Pillow==3.4.2
protobuf==3.1.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
scipy==0.18.1
selenium==3.0.1
six==1.10.0
tensorflow==0.12.0rc0
setuptools==31.0.0
